.c-articles {

  @include grid(1, 0);
  @include gridMd(1, 0);
  @include gridSm(1, 0);

  @include lessThan($mobileXs) {
    display: flex;
    flex-direction: column;
  }

  padding-top: rem(56);

  .c-post {

    &-content-header {
      max-width: rem(522);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
