.c-number {
  @include flex(column, nowrap, center, center);

  gap: rem(42);
  padding: rem(16) rem(24);
  text-align: center;
  border-radius: rem(25);

  &-wrapper {
    @include flex(row, wrap, start, center);

    width: 100%;
    gap: rem(42);

    @include lessThan(mobileonly) {
      gap: rem(16);
      justify-content: center;
    }
  }

  &__text {
    p {
      text-align: left;
      margin: 0;
    }
  }

  &__title {
    @extend %fs-104;

    font-weight: 300;
    line-height: 1.4;
  }
}
